@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8e2dc !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  margin-left: 0.5rem;
  font-weight: lighter;
}
.card {
  margin: 0.5rem !important;
}
.green {
  color: green;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
.card-text,
.list-group-item {
  font-weight: bold;
}
.navbar {
  padding: 1rem !important;
}
.issues-list {
  background-color: #acc8e5 !important;
  padding: 1rem !important;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.filgrid {
  display: flex;
  justify-content: space-around;
}
.issue-form,
.login-form,
.signup-form {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #acc8e5;
  color: #112a46;
  border-radius: 15px;
}
.issue-add,
.login,
.signup {
  background-color: #acc8e5;
}
.mar {
  margin: 0.6rem 0;
  font-weight: bold;
}
.notfound,
.about-info {
  padding: 1rem;
  display: flex;
  background-color: #acc8e5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart-info {
  padding: 1rem;
  background-color: #acc8e5;
}
.chart-content {
  padding-right: 5rem !important;
}
.about-info {
  background-color: #acc8e5;
}
.plead {
  color: #112a46;
}

.view-issue,
.view-profile {
  background-color: #acc8e5 !important;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-issue-detail,
.view-profile-detail {
  width: 80%;
  min-width: 800px;
}
.flex-center {
  margin: auto;
}

.hlead {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  border-bottom: 3px solid #c2f784;
}
.profilelead {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 3px solid #c2f784;
}

.mandatory,
.perror {
  color: red;
}
.loading {
  background-color: #acc8e5;
  height: 100%;
  padding: 1rem;
}
.pinfo {
  margin-top: 0.5rem;
}
input[type="checkbox"] {
  margin: 0 0.5rem;
}
.show_hide {
  background-color: #acc8e5;
  width: 80%;
  margin: 0.2rem auto;
  border-radius: 25px;
  padding: 1rem;
}
